.navItem {
    background-color: #0D6EFD;
}

.navItem:hover {
    background-color: #DC3545;
}

.active {
    background-color: #DC3545;
}

.theme-login {
    background-color: #f2f2f2;
}

.test {
    height: 2000px;
}

