@import "../../../App";

.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: black
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
    color: black
}

.login-form {
    width: 80vw;    
      @include respond-to($breakpoint-medium) {
        max-width: 48vw;
      }      
      @include respond-to($breakpoint-large) {
        max-width: 31vw;
      }
}

