$color-red: #dc3545;
$color-blue: #0d6efd;

.navItem {
    background-color: $color-blue;
    transition: all 0.1s;

    &:hover {
        background-color: $color-red;
    }
}

.active {
    background-color: $color-red;
}
