@import '../../../components/GlobalStyles/GlobalStyles.scss';

.sidebar {
    position: static;
    @include respond-to($breakpoint-small) {
        position: fixed;
    }
    .sidebar-item {
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 3px;
        &:hover {
            background-color: gray;
            opacity: 0.9;
        }
        .col {
            display: flex;
            align-items: center;
            span {
                padding-left: 7px;
            }
        }
    }
    .active {
        background-color: gray;
        font-weight: bold;
    }
}
