.sidebarTab {
    color: gray;
    &:not(:last-child) {
        border-bottom: dashed;
        border-bottom-width: 1px;
    }
    .sidebarItem {
        color: gray;
        font-weight: lighter;
        font-size: 15px;
        transition: all 0.1s;

        &:hover {
            color: red;
            cursor: pointer;
        }
    }
    &.isDouble {
        &:nth-last-child(1),
        &:nth-last-child(2) {
            border: none;
        }
    }
}
