.sidebarTab{
    color: gray;
    &:not(:last-child){
        border-bottom: dashed;
        border-bottom-width: 1px;
    }
    .sidebarItem {
        color: black;
        font-weight: lighter;
        font-size: 15px;
        &:hover {
            color:red;
            cursor: pointer;
        }
    }
    &.isDouble {
        &:nth-last-child(1), &:nth-last-child(2){
            border: none;
        }
    }
}
